--
-- PostgreSQL database dump
--

\restrict hHsp8WKLHebgCUwWMaaiQx7oqkctaF7A8Cgt2RCmd28tE5zHUjWugd9BMTr0iu0

-- Dumped from database version 16.13 (Debian 16.13-1.pgdg13+1)
-- Dumped by pg_dump version 16.13 (Debian 16.13-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: atmt_admin
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO atmt_admin;

--
-- Name: audit_log; Type: TABLE; Schema: public; Owner: atmt_admin
--

CREATE TABLE public.audit_log (
    id uuid NOT NULL,
    project_id uuid,
    threat_id uuid,
    user_id uuid NOT NULL,
    action character varying(100) NOT NULL,
    old_value json,
    new_value json,
    justification text,
    created_at timestamp without time zone NOT NULL
);


ALTER TABLE public.audit_log OWNER TO atmt_admin;

--
-- Name: controls_library; Type: TABLE; Schema: public; Owner: atmt_admin
--

CREATE TABLE public.controls_library (
    id uuid NOT NULL,
    title character varying(300) NOT NULL,
    description text,
    applies_to_stride text[],
    applies_to_protocols text[],
    reduction_value smallint,
    reduction_target character varying(50),
    source_ref character varying(200)
);


ALTER TABLE public.controls_library OWNER TO atmt_admin;

--
-- Name: diagrams; Type: TABLE; Schema: public; Owner: atmt_admin
--

CREATE TABLE public.diagrams (
    id uuid NOT NULL,
    project_id uuid NOT NULL,
    graph_json jsonb NOT NULL,
    dfd_level smallint NOT NULL,
    version integer NOT NULL,
    saved_by uuid NOT NULL,
    created_at timestamp without time zone NOT NULL
);


ALTER TABLE public.diagrams OWNER TO atmt_admin;

--
-- Name: project_members; Type: TABLE; Schema: public; Owner: atmt_admin
--

CREATE TABLE public.project_members (
    id uuid NOT NULL,
    project_id uuid NOT NULL,
    user_id uuid NOT NULL,
    role character varying(20) NOT NULL,
    invited_by uuid,
    joined_at timestamp without time zone NOT NULL
);


ALTER TABLE public.project_members OWNER TO atmt_admin;

--
-- Name: projects; Type: TABLE; Schema: public; Owner: atmt_admin
--

CREATE TABLE public.projects (
    id uuid NOT NULL,
    name character varying(150) NOT NULL,
    description text,
    vehicle_profile jsonb,
    business_objectives text[],
    status character varying(20) NOT NULL,
    is_locked boolean NOT NULL,
    locked_by uuid,
    locked_at timestamp without time zone,
    created_by uuid NOT NULL,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL
);


ALTER TABLE public.projects OWNER TO atmt_admin;

--
-- Name: ref_assets; Type: TABLE; Schema: public; Owner: atmt_admin
--

CREATE TABLE public.ref_assets (
    id uuid NOT NULL,
    name character varying(200) NOT NULL,
    category character varying(50) NOT NULL,
    interface_types text[],
    data_types text[],
    physical_accessibility character varying(30),
    asil_level character varying(1),
    default_safety smallint,
    default_financial smallint,
    default_operational smallint,
    default_privacy smallint,
    flags text[],
    vehicle_types text[]
);


ALTER TABLE public.ref_assets OWNER TO atmt_admin;

--
-- Name: ref_threats; Type: TABLE; Schema: public; Owner: atmt_admin
--

CREATE TABLE public.ref_threats (
    id uuid NOT NULL,
    stride_category character varying(50) NOT NULL,
    title character varying(300) NOT NULL,
    description text,
    source character varying(50),
    source_ref character varying(100),
    trigger_protocols text[],
    trigger_categories text[],
    trigger_flags text[],
    default_impact_safety smallint,
    default_impact_financial smallint,
    default_impact_operational smallint,
    default_impact_privacy smallint,
    default_feasibility smallint
);


ALTER TABLE public.ref_threats OWNER TO atmt_admin;

--
-- Name: revoked_tokens; Type: TABLE; Schema: public; Owner: atmt_admin
--

CREATE TABLE public.revoked_tokens (
    id uuid NOT NULL,
    jti character varying(36) NOT NULL,
    token_type character varying(10) NOT NULL,
    user_id uuid NOT NULL,
    revoked_at timestamp without time zone NOT NULL
);


ALTER TABLE public.revoked_tokens OWNER TO atmt_admin;

--
-- Name: threats; Type: TABLE; Schema: public; Owner: atmt_admin
--

CREATE TABLE public.threats (
    id uuid NOT NULL,
    project_id uuid NOT NULL,
    ref_threat_id uuid,
    asset_id character varying(100) NOT NULL,
    flow_id character varying(100),
    stride_category character varying(50) NOT NULL,
    title character varying(300) NOT NULL,
    description text,
    source character varying(50),
    source_ref character varying(100),
    impact_safety smallint NOT NULL,
    impact_financial smallint NOT NULL,
    impact_operational smallint NOT NULL,
    impact_privacy smallint NOT NULL,
    feasibility smallint NOT NULL,
    risk_score smallint NOT NULL,
    status character varying(20) NOT NULL,
    treatment character varying(20),
    justification text,
    control_ids uuid[],
    is_baseline_modified boolean NOT NULL,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL
);


ALTER TABLE public.threats OWNER TO atmt_admin;

--
-- Name: users; Type: TABLE; Schema: public; Owner: atmt_admin
--

CREATE TABLE public.users (
    id uuid NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    full_name character varying(200) NOT NULL,
    is_admin boolean,
    is_active boolean,
    is_demo boolean,
    created_at timestamp without time zone
);


ALTER TABLE public.users OWNER TO atmt_admin;

--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: atmt_admin
--

COPY public.alembic_version (version_num) FROM stdin;
c9b67d607d7d
\.


--
-- Data for Name: audit_log; Type: TABLE DATA; Schema: public; Owner: atmt_admin
--



--
-- Data for Name: controls_library; Type: TABLE DATA; Schema: public; Owner: atmt_admin
--



--
-- Data for Name: diagrams; Type: TABLE DATA; Schema: public; Owner: atmt_admin
--



--
-- Data for Name: project_members; Type: TABLE DATA; Schema: public; Owner: atmt_admin
--



--
-- Data for Name: projects; Type: TABLE DATA; Schema: public; Owner: atmt_admin
--



--
-- Data for Name: ref_assets; Type: TABLE DATA; Schema: public; Owner: atmt_admin
--



--
-- Data for Name: ref_threats; Type: TABLE DATA; Schema: public; Owner: atmt_admin
--



--
-- Data for Name: revoked_tokens; Type: TABLE DATA; Schema: public; Owner: atmt_admin
--



--
-- Data for Name: threats; Type: TABLE DATA; Schema: public; Owner: atmt_admin
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: atmt_admin
--



--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: atmt_admin
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: audit_log audit_log_pkey; Type: CONSTRAINT; Schema: public; Owner: atmt_admin
--

ALTER TABLE ONLY public.audit_log
    ADD CONSTRAINT audit_log_pkey PRIMARY KEY (id);


--
-- Name: controls_library controls_library_pkey; Type: CONSTRAINT; Schema: public; Owner: atmt_admin
--

ALTER TABLE ONLY public.controls_library
    ADD CONSTRAINT controls_library_pkey PRIMARY KEY (id);


--
-- Name: diagrams diagrams_pkey; Type: CONSTRAINT; Schema: public; Owner: atmt_admin
--

ALTER TABLE ONLY public.diagrams
    ADD CONSTRAINT diagrams_pkey PRIMARY KEY (id);


--
-- Name: project_members project_members_pkey; Type: CONSTRAINT; Schema: public; Owner: atmt_admin
--

ALTER TABLE ONLY public.project_members
    ADD CONSTRAINT project_members_pkey PRIMARY KEY (id);


--
-- Name: projects projects_pkey; Type: CONSTRAINT; Schema: public; Owner: atmt_admin
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT projects_pkey PRIMARY KEY (id);


--
-- Name: ref_assets ref_assets_pkey; Type: CONSTRAINT; Schema: public; Owner: atmt_admin
--

ALTER TABLE ONLY public.ref_assets
    ADD CONSTRAINT ref_assets_pkey PRIMARY KEY (id);


--
-- Name: ref_threats ref_threats_pkey; Type: CONSTRAINT; Schema: public; Owner: atmt_admin
--

ALTER TABLE ONLY public.ref_threats
    ADD CONSTRAINT ref_threats_pkey PRIMARY KEY (id);


--
-- Name: revoked_tokens revoked_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: atmt_admin
--

ALTER TABLE ONLY public.revoked_tokens
    ADD CONSTRAINT revoked_tokens_pkey PRIMARY KEY (id);


--
-- Name: threats threats_pkey; Type: CONSTRAINT; Schema: public; Owner: atmt_admin
--

ALTER TABLE ONLY public.threats
    ADD CONSTRAINT threats_pkey PRIMARY KEY (id);


--
-- Name: project_members uq_project_user; Type: CONSTRAINT; Schema: public; Owner: atmt_admin
--

ALTER TABLE ONLY public.project_members
    ADD CONSTRAINT uq_project_user UNIQUE (project_id, user_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: atmt_admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: atmt_admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ix_revoked_tokens_jti; Type: INDEX; Schema: public; Owner: atmt_admin
--

CREATE UNIQUE INDEX ix_revoked_tokens_jti ON public.revoked_tokens USING btree (jti);


--
-- Name: audit_log audit_log_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: atmt_admin
--

ALTER TABLE ONLY public.audit_log
    ADD CONSTRAINT audit_log_project_id_fkey FOREIGN KEY (project_id) REFERENCES public.projects(id) ON DELETE CASCADE;


--
-- Name: audit_log audit_log_threat_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: atmt_admin
--

ALTER TABLE ONLY public.audit_log
    ADD CONSTRAINT audit_log_threat_id_fkey FOREIGN KEY (threat_id) REFERENCES public.threats(id) ON DELETE SET NULL;


--
-- Name: audit_log audit_log_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: atmt_admin
--

ALTER TABLE ONLY public.audit_log
    ADD CONSTRAINT audit_log_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: diagrams diagrams_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: atmt_admin
--

ALTER TABLE ONLY public.diagrams
    ADD CONSTRAINT diagrams_project_id_fkey FOREIGN KEY (project_id) REFERENCES public.projects(id) ON DELETE CASCADE;


--
-- Name: diagrams diagrams_saved_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: atmt_admin
--

ALTER TABLE ONLY public.diagrams
    ADD CONSTRAINT diagrams_saved_by_fkey FOREIGN KEY (saved_by) REFERENCES public.users(id);


--
-- Name: project_members project_members_invited_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: atmt_admin
--

ALTER TABLE ONLY public.project_members
    ADD CONSTRAINT project_members_invited_by_fkey FOREIGN KEY (invited_by) REFERENCES public.users(id);


--
-- Name: project_members project_members_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: atmt_admin
--

ALTER TABLE ONLY public.project_members
    ADD CONSTRAINT project_members_project_id_fkey FOREIGN KEY (project_id) REFERENCES public.projects(id) ON DELETE CASCADE;


--
-- Name: project_members project_members_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: atmt_admin
--

ALTER TABLE ONLY public.project_members
    ADD CONSTRAINT project_members_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: projects projects_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: atmt_admin
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT projects_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: projects projects_locked_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: atmt_admin
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT projects_locked_by_fkey FOREIGN KEY (locked_by) REFERENCES public.users(id);


--
-- Name: revoked_tokens revoked_tokens_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: atmt_admin
--

ALTER TABLE ONLY public.revoked_tokens
    ADD CONSTRAINT revoked_tokens_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: threats threats_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: atmt_admin
--

ALTER TABLE ONLY public.threats
    ADD CONSTRAINT threats_project_id_fkey FOREIGN KEY (project_id) REFERENCES public.projects(id) ON DELETE CASCADE;


--
-- Name: threats threats_ref_threat_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: atmt_admin
--

ALTER TABLE ONLY public.threats
    ADD CONSTRAINT threats_ref_threat_id_fkey FOREIGN KEY (ref_threat_id) REFERENCES public.ref_threats(id);


--
-- PostgreSQL database dump complete
--

\unrestrict hHsp8WKLHebgCUwWMaaiQx7oqkctaF7A8Cgt2RCmd28tE5zHUjWugd9BMTr0iu0

